<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam ullam quia exercitationem repellendus. Harum perferendis accusamus, fugit velit blanditiis saepe aspernatur dignissimos autem magni eos voluptate laborum eveniet ut!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum, similique sit vel eligendi laborum sint blanditiis minus dolor vitae officiis delectus nulla, asperiores doloribus fugit et iure? Aspernatur, cumque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel at, aliquid blanditiis, molestiae ratione id veniam vero nostrum optio magnam dolores necessitatibus voluptatem dolore natus dicta quam reprehenderit repellat deserunt!</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>